@import "tailwindcss";

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.spin{
    animation: spin 40s linear infinite;
}

@keyframes loop-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.loop-scroll {
    animation: loop-scroll 10s linear infinite
}